#section0 #topimage{
	top:-530px;
	left:30px;
	position:relative;
	width: auto;
}
#section1 #topimage{
	top: -400px;
	left:10px;
	-webkit-transition: all .2s ease-in-out;
}
	#section1 #topimage:hover{
		-webkit-transform: scale(1.1);
	}
#section1 #text{
	width:500px;
	padding: 60px 0;
}

@media	(max-width: 640px){
	#section0 #text{
		width: 300px;
	}
	#section1 #text{
		width:300px;
	}
	#section0 #topimage{
		left: 0;
	}
	#section0 #topimage img{
		margin-left: 500px;
	}
	#section0 #bottomimage img{
		margin-left: -100px;
	}
}