#section0 #topimage{
	top: -400px;
	left: 0;
	-webkit-transition: left ease-out 1s;
		-moz-transition: left ease-out 1s;
		-o-transition: left ease-out 1s;
		transition: left ease-out 1s;
}
	#section0 #topimage:hover{
		left: 60px !important;
		-webkit-transition: left ease-out 0.5s;
		-moz-transition: left ease-out 0.5s;
		-o-transition: left ease-out 0.5s;
		transition: left ease-out 0.5s;
		
	}
#section0 #bottomimage{

}

#section1 #topimage{
	top: -190%;
	left: 0px;
	opacity: 1;
	-webkit-transition: opacity ease-out 1s;
	-moz-transition: opacity ease-out 1s;
	-o-transition: opacity ease-out 1s;
	transition: opacity ease-out 1s;
	
}
	#section1 #topimage:hover{
		opacity: 0;
		-webkit-transition: opacity ease-out 1s;
		-moz-transition: opacity ease-out 1s;
		-o-transition: opacity ease-out 1s;
		transition: opacity ease-out 1s;
	}
#section1 #bottomimage{
	height: 400px;
}