html{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
body{
	margin: 0;
	padding: 0;
}
#header{
	padding: 10%;
}
.container{
	padding: 60px 100px;
}
h1{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 48px;
	color: #39393A;
	line-height: 1em;
}
h2{
	font-size: 24px;
	color:#606060;
	font-weight: 100;
	line-height: 0.5em;
}
h3{
	font-size: 20px;
	font-weight: 100;
	line-height: 0;
}
p{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
}
ul{
	padding:0;
}
button{
	outline: none;	
	padding: 15px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 100;
	border-radius: 3px;
	cursor:pointer;
}
.social a img{
	opacity:0.25;
	margin: 50px 40px 0 0;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
	
}
	.social a img:hover{
		opacity:1;
		-webkit-transition: opacity ease-out 0.3s;
		-moz-transition: opacity ease-out 0.3s;
		-o-transition: opacity ease-out 0.3s;
		transition: opacity ease-out 0.3s;
	}
#blockButton{
	border: 1px solid #ADBBC1;
	color: #ADBBC1;
	background-color: transparent;
	padding: 10px 25px;
}
	a #blockButton:hover{
		border: 1px solid #8a969b;
		color: #8a969b;
	}	
#hrefButton{
	border: 1px solid #ADBBC1;
	color: #ADBBC1;
	margin-top: 15px;
	background-color: transparent;
}
	a #hrefButton:hover{
		border: 1px solid #8a969b;
		color: #8a969b;
	}
#project{
	height: auto;
	min-height: 650px;
	width: 100%;
	color: white;
	float:left;
}
	.image{
		max-width: 200px;
		height: 200px;
		float:left;
		margin-top:200px;
		margin-left: 10%;
	}
		.image img{
			display: block;
			vertical-align: middle;
			margin: auto;
		}
	.description{
		width: 50%;
		max-width: 500px;
		float:left;
		margin-left:15%;
		display: inline-block;
		padding-top: 200px;
	}
	#project h1{
		font-size: 32px;
		color: white;
		font-weight: 100;
		line-height: 1em;
	}
	#project button{
		background-color: transparent;
		border: 1px solid white;
		color: white;
	}
	
#projectContainer{
	color: #39393A;
	font-weight: 100;
}
	#projectContainer #header{
		padding: 4% 10% 6% 10%;
		text-align: center;
		color: white;
	}
	#projectContainer #header h1{
		font-weight: 100;
		color: white;
	}
	#projectContainer #header h2{
		font-weight: 100;
		color: white;
	}
		#projectContainer #header img{
			margin-left: 10px;
		}
	#projectContainer #header button{
		background-color: transparent;
		border-radius: 3px;
		border: 1px solid white;
		padding: 15px;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 100;
		color: white;
	}
	
	#about{
		text-align: center;
		padding: 5% 20%;
		font-style: italic;
		color: #717171;
		font-size: 18px;
	}
	.section{
		width: 100%;
		min-height: 300px;
		padding: 0;
		float:left;
		clear:both;
	}
		.section:nth-child(even){
			background-color: #F9F9F9;
		}
		#text{
			width:400px;
			font-size: 15px;
			z-index: 2;
			position: relative;
			line-height: 1.5em;
			color: #717171;
			margin: 60px 0 50px 10%;
		}
		#bottomimage{
			min-width:300px;
			width: auto;
			height: auto;
			max-height: 500px;
			text-align:center;
			overflow-y: hidden;
			overflow-x: hidden;
			position:relative;
			z-index: 1;
		}
		#topimage{
			min-width: 400px;
			width:auto;
			height: auto;
			text-align:center;
			position:relative;
			z-index: 2;
		}
		#section button{
			border: 1px solid #ADBBC1;
			padding: 10px 15px;
			color: #ADBBC1;
			margin-top: 20px;
		}
	#moreProjects{
		text-align:center;
	}
	#moreProjects button{
		background-color: rgba(255,255,255,0.5);
		border-radius: 3px;
		border: 1px solid #ADBBC1;
		padding: 15px;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 100;
		color: #ADBBC1;
		width: 200px;
		margin: 25px auto;
	}
		#moreProjects button:hover{
			border: 1px solid #8a969b;
		color: #8a969b;
		}
#footer{
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	color: #ADBBC1;
	line-height: 1.5em;
	padding-bottom: 30px;
}
	#footer a{
		color:#ADBBC1;
		text-decoration: none;
		border-bottom: 1px solid #F1F1F1;
	}
	#footer hr{
		height: 1px;
		background-color: #F1F1F1;
		border: none;
		width: 95%;
		margin-top: 0;
		margin-bottom: 30px;
	}
	
@media (max-width: 750px) and (min-width: 420px){
	#project{
		height: auto;
		width: 100%;
	}
	.image{ margin: 30px 0 0 0; height: 250px;}
	.description{ margin:50px 0 0 50px; width:300px;padding: 0 10px 40px 10px;}
}
@media	(max-width: 420px){
	body { width: 100%; margin: 0; padding: 0;}
	h1{ font-size: 28px;}
	h2{ font-size: 20px; line-height: 1em;}
	.container { padding: 0;}
	#project{
		height: auto;
		width: 100%;
	}
	.image{ width: 300px;margin: 30px 0 0 0; height: 250px;}
	.description{ margin: 0; width: 300px;padding: 0 10px 40px 10px;}
	
	#projectContainer{
		width: 100%; margin: 0; padding: 0;
	}
	.section{
		width: 100%; margin: 0; padding: 0;
		
	}
		#text{ width: 300px; margin: 0 auto; padding: 10px;}
		
	#bottomimage{ float: left; width: 100%;}
	
}