{{set . "title" "The Compendium of Elsie Ng"}}
{{template "header.html" .}}
</head>
<body>
		<div id="header" class="container">
			<h1>{{.title}}</h1>
			<h2>{{.myProfile.Gist}}</h2>
			<h2>{{.myProfile.Location}}</h2>
			<h2>Elsie is
			{{if .myProfile.Available}}
				 available
			{{else}}
				not available
			{{end}}
			for work</h2>
			<p>
				<a href="{{.myProfile.Twitter}}">Twitter</a>
			</p>
		</div>
		{{range .thelist}}
			<div id="project" style="background-color:{{.Brand}}">
				<div class="image">
				</div>
				<div class="description">
					<h1>{{.Name}}</h1>
					<p>{{.Gist}}</p>
					<form action="/App/Project" method="GET">
						<button type="submit" value="{{.Id}}" name="id">{{.Button}}</button>
					</form>
				</div>
			</div>
		{{end}}
	
{{template "footer.html" .}}
