{{set . "title" .cp.Name}}
{{set . "projectID" .cp.Id}}
{{template "header.html" .}}
<link rel="stylesheet" type="text/css" href="/public/css/{{.projectID}}.css">
</head>
<body>
<div id="projectContainer">
	<div id="header" style="background-color:{{ .cp.Brand}}">
		<h2>{{ .cp.Name }}</h2>
		{{ if eq .cp.Partner ""}}
		{{else}}
			with <img src="/public/img/partners/{{ .cp.Partner}}" />
		{{end}}
		<h1>{{ .cp.Catchphrase}}</h1>
		{{ if eq .cp.Link ""}}
		{{else}}
			<a href="{{ .cp.Link}}"><button>{{ .cp.Gettext}}</button></a>
		{{end}}
	</div>

	<div id="about">
		{{ .cp.About}}
	</div>

	<ul>
	{{range .cp.Sections}}
	<div id="section{{.Id}}" class="section">
		<div id="text" class="container" style='
			{{if eq .Align "right"}}
				float:right;
			{{else if eq .Align "left"}}
				float:left;
			{{else if eq .Align "center"}}
				margin: 0 auto;
				text-align: center;
			{{end}}'>
			<h3>{{ .Header}}</h3>
				{{ .Text}}<br />
				{{ if eq .Href ""}}
				{{else}}
					<a href="{{ .Href}}"><button>{{ .Hreftext}}</button></a>
				{{end}}
		</div>
		<div id="bottomimage">
			{{if eq .BottomImage ""}}
			{{else}}
				<img src="/public/projects/{{.BottomImage}}" />
			{{end}}
			<div id="topimage" data-scrollreveal>
				{{if eq .TopImage ""}}
				{{else}}
					<img src="/public/projects/{{.TopImage}}" />
				{{end}}
			</div>
		</div>	
	</div>
	{{end}}
	</ul>
</div>
<div id="moreProjects">
<a href="/"><button>See more Projects</button></a>
</div>
{{template "footer.html" .}}