{{set . "title" .cp.Name}}
{{set . "projectID" .cp.Id}}
{{template "header.html" .}}
</head>
<body>
<div id="projectContainer">
	<div id="header" style="background-color:{{ .cp.Brand}}">
		<h2>{{ .cp.Name }}</h2>
		{{ if eq .cp.Partner ""}}
		{{else}}
			with <img src="/public/img/partners/{{ .cp.Partner}}" />
		{{end}}
		<h1>{{ .cp.Catchphrase}}</h1>
		{{ if eq .cp.Link ""}}
		{{else}}
			<a href="{{ .cp.Link}}"><button>{{ .cp.Gettext}}</button></a>
		{{end}}
	</div>

	<div id="about">
		{{ .cp.About}}
	</div>

	<ul>
	{{range .cp.Sections}}
	<div id="section" class="{{.Id}}">
		<div id="text" class="container" style="float: {{ .Align}}">
			<h3>{{ .Header}}</h3>
				{{ .Text}}<br />
				{{ if eq .Href ""}}
				{{else}}
					<a href="{{ .Href}}"><button>{{ .Hreftext}}</button></a>
				{{end}}
		</div>
		<div id="image" style='background: url("/public/projects/{{.BottomImage}}") no-repeat'>
			<img src="/public/projects/{{.TopImage}}" />
		</div>	
	</div>
	{{end}}
	</ul>
</div>
<div id="moreProjects">
<a href="/"><button>See more Projects</button></a>
</div>
{{template "footer.html" .}}