  <div id="footer">
  	<hr />
  	All content copyright &copy; 2014. All rights reserved.<br />
  	Designed in <a href="http://www.bohemiancoding.com/sketch/">Sketch</a>. Developed with <a href="http://golang.org/">Go</a>. <a href="https://github.com/elsng/elsiengdotcom">See how I did it</a>.
  </div>
  <script type="text/javascript" src="/public/js/retina.js"></script>
  <script type="text/javascript" src="/public/js/scrollReveal.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21739762-1']);
  _gaq.push(['_setDomainName', 'elsieng.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
var sc_project=6665218; 
var sc_invisible=1; 
var sc_security="c1ed555c"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>

  </body>
</html>
