<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

    
                            ZZZZZZZZZ$$$$$$$$$$$$$$$ 
                            ZZZZZZZZZ$$$$$$$$$$$$$$$
                            ZZZZZZZZZ$$$$$$$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$                        
                       ZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ$$$$$$$$$
                       ZZZZZZZZZZZZZZZZZZZ+++++ZZZZZ+++++$$$$
                       ZZZZZZZZZZZZZZZZZZZ+++++ZZZZZ+++++$$$$
                       ZZZZZZZZZZZZZZZZZZZ+++++ZZZZZ+++++$$$$
                       ZZZZZZZZZZZZZZ++++++++++++++++++++$$$$
                       ZZZZZZZZZZZZZZ++++++++++++++++++++$$$$
                       ZZZZZZZZZZZZZZ++++++++++++++++++++$$$$
                       ZZZZZZZZZ+++++ZZZZZ~~~~~~~~~~ZZZZ
                       ZZZZZZZZZ+++++ZZZZZ~~~~~~~~~~ZZZZ
                       ZZZZZZZZZ+++++ZZZZZ~~~~~~~~~~ZZZZ
                       ZZZZZZZZZ+++++~~~~~~~~~~~~~~~~~~~
                  ZZZZZZZZZZZZZZ+++++~~~~~~~~~~~~~~~~~~~
                  ZZZZZZZZZZZZZZ+++++~~~~~~~~~~~~~~~~~~~
                  ZZZZZZZZZZIIII+++++~~~~~
                  ZZZZZZZZZZIIII+++++~~~~~
                  ZZZZZZZZZZIIII+++++~~~~~
                  ZZZZZZZZZZIIII+++++~~~~~
                  ZZZZZZZZZZZZZZ+++++~~~~~
                  ZZZZZZZZZZZZZZ+++++~~~~~
                  ZZZZZZZZZZZZZZ+++++~~~~~
                  ZZZZZZZZZZZZZZIIIII+++++~~~~~~~~~~~~~~
                  ZZZZZZZZZZZZZZIIIII+++++~~~~~~~~~~~~~~
                  ZZZZZZZZZZZZZZIIIII+++++~~~~~:~~~~~~~~
             ZZZZ+     ZZZZ?     IIIIIIIIIZZZZZ          
             ZZZZ+     ZZZZ?     IIIIIIIIIZZZZZ    
             ZZZZ+     ZZZZ?     IIIIIIIIIZZZZZ  
                       ~~~~=++++~~~~~+++++=~~~~+++++~~~~ 
                       ~~~~=++++~~~~~+++++=~~~~+++++~~~~
                       ~~~~=+++=~~~~~+++++=~~~~+++++~~~~ 
                  ?????+++++~~~~IIIII++++++++++????????? 
                  ?????+++++~~~~IIIII++++++++++?????????
                  ?????++++=~~~~IIIII++++++++++?????????
             ~~~~~+++++~~~~=IIII+++++~~~~~~~~~~+++++~~~~~++++
             ~~~~~+++++~~~~=IIII+++++~~~~~~~~~~+++++~~~~~++++
             ~~~~~+++++~~~~=IIII+++++~~~~~~~~~~=++++~~~~~++++
        ~~~~~++++=~~~~~+++++ZZZZ~~~~~~~~~~~~~~~ZZZZZ++++=~~~~~++++  
        ~~~~~++++=~~~~~+++++ZZZZ~~~~~~~~~~~~~~~ZZZZZ++++=~~~~=++++
        ~~~~~++++=~~~~~+++++ZZZZ~~~~~~~~~~~~~~~ZZZZZ++++=~~~~~++++ 
        +++++~~~~~+++++~~~~=ZZZZ$$$$$~~~~~$$$$$ZZZZZ~~~~~++++=~~~~             
        +++++~~~~~+++++~~~~=ZZZZ$$$$$~~~~~$$$$$ZZZZZ~~~~~++++=~~~~
        +++++~~~~~+++++~~~~=ZZZZ$$$$$~~~~~$$$$$ZZZZZ~~~~~++++=~~~~
        ~~~~~++++=~~~~~+++++ZZZZ$$$$$$$$$$$$$$$$$$$$+++++~~~~=++++
        ~~~~~+++++~~~~~+++++ZZZZ$$$$$$$$$$$$$$$$$$$$+++++~~~~=++++             
        ~~~~~++++=~~~~~+++++ZZZZ$$$$$$$$$$$$$$$$$$$$+++++~~~~=++++             
        ++++=?????+++++~~~~=ZZZZ$$$$$$$$$$$$$$$$$$$$~~~~~IIIII~~~~             
        ++++=?????+++++~~~~=ZZZZ$$$$$$$$$$$$$$$$$$$$~~~~~IIIII~~~~           
        ++++=?????+++++~~~~=ZZZZ$$$$$$$$$$$$$$$$$$$$~~~~~IIIII~~~~
        ++++=?????+++++~~~~=ZZZZ$$$$$$$$$$$$$$$$$$$$~~~~~IIIII~~~~
        
        Y U CHECKING SAUCE??? 
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://gmpg.org/xfn/11">
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Graphic and User Interface Design by Elsie Ng" />
	<meta name="keywords" content="app, apps, iphone, ipod, touch, android, design graphic design, user interface, ui design, web design, web development, user experience, ux, interface design" />
	<meta name="author" content="Elsie Ng" /> 
	<meta name="Copyright" content="Copyright Elsie Ng 2014. All Rights Reserved." />
	<meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" /> 
	

    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {{append . "moreStyles" "css/main.css"}}
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <script type="text/javascript" src="//use.typekit.net/qbf1twj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

